<div class = "p-3">
  <h1>Cocktails</h1>

  <% @cocktails.each do |cocktail| %>
  <div class = "card-body border p-3 mb-2">
    <h4 class = "card-title"><%= cocktail.name %></h4>
    <%= link_to "See details", cocktail_path(cocktail) %>
  </div>
  <% end %>
  <p class = "p-3 mb-2"><%= link_to "Create a Cocktail", new_cocktail_path %></p>
</div>
