// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: url("../../san_francisco.jpg");
  opacity: 0.7;
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.card {
  background-color: #F1DAC4;
  margin: 10px;
  border: solid 1px black;
  box-shadow: 7px 2px 2px white;
  border-radius: 10px;
  opacity: 1;
}

img {
  border-radius: 2px;
}

