// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: url("cocktail.jpg");
  background-size: cover;
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: black;
  opacity: 0.7;

}

.card {
  background-color: white;
  margin: 10px;
  border: solid 3px white;
  box-shadow: 0px 2px 2px black;
  border-radius: 10px;
  opacity: 8px;

}

img {
  border-radius: 2px;
}
